.opportunity-panel-title{
    color: #045F9D !important;
    font-weight: bold !important; 
}

.opportunity-main-panel-tag{
    padding: 0.6rem 0.6rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: black;
}